# Ignore extracted folders and their contents
*/_extracted_*/
ZMTLoader/*_P
ZMTLoader/BASE_GAME_DATA/
ZMTLoader/build/
ZMTLoader/dist/
# ZMTLoader/log.txt
# ZMTLoader/conflicts.json
# ZMTLoader/mod_asset_map.json
ZMTLoader/cached_sha.json
ZMTLoader/ZMTLoader.exe
ZMTLoader/ZMTLoader.zip

# Ignore all .pak files
*.pak
*.uasset
*.ubulk
*.uexp